/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body{

font-family: 'Source Serif 4', serif;
font-size: 15px;
padding-top: 35px;

}
/*
 **************************************
            main layout dizajn
 **************************************
*/

.main{
    padding-top: 40px;
    }

menu{ 
    font-family: 'Source Serif 4', serif;
    

    }
header{
        background-color: #464F95;
        height: 55px;
           }
.menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 800px;
    position: relative; 
    float: right;
            
          }

.policko{
        background-color: rgb(40, 12, 67);
        width: 125px;
        height: 35px;
        font-size: 15px;
        color: #ECE4E4;
        border-radius: 25px;
        text-align: center;
        margin: 5px 5px 5px 5px;    
        padding: 5px 5px; 
        border: 2px #1b093b;
        }

    .policko:hover{ 
                background-color: #e79441;    
                box-shadow: 5px 7px 5px #525058;
                border: 2px #1b093b;
              
                
    }

a{  color:#ECE4E4;
    font-style: normal;
    text-decoration: none;
  }

a:hover{
    color: #1b093b;
    font-family: 'Source Serif 4', serif;
   font-weight: bold;
   }

body{
    background-color:#ECE4E4;
    
}

h1{
    color: #341c5a;
    padding-top: 100px;

}
 
.footer{
        background-color:#78648E;
        color:#ECE4E4;
        text-align: center;
        align-items: baseline;
        height: 56px;
        padding: 6px;
            }

            /*
 **************************************
           VZDELAVANIE
 **************************************
*/

.flexboxmoznosti-bigcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: auto;
    padding: 5px;
    margin: 5px;
    flex-wrap: wrap;
    gap: 10px;
}

.box-minicontainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #464F95;
    color: #ECE4E4;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 300px;
    height: 270px;
    padding: 7px;
    box-shadow: 3px 3px 3px rgb(159, 160, 162);
   }

.obrazek-flexitem{
    width: auto;
    height: 170px;
    border-radius: 15px;
    object-fit: cover;
    }


            /*
 **************************************
           JOB SEARCH
 **************************************
*/




            /*
 **************************************
         INSPIRATION
 **************************************
*/